#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

rsource "Kconfig.power_manager"
rsource "Kconfig.led_state"
rsource "Kconfig.watchdog"
rsource "Kconfig.lte_lc_module"
rsource "Kconfig.cloudapi_module"
rsource "Kconfig.gps_module"
